<header>
  {{ data.title }}
</header>
<body>
  <div id="page-container">
    <div id="content-wrap">
      <div>
        <label>
          Select a dice size:
          <select id="dice" (click)="onSelectorClick(diceSizeInput.value)" #diceSizeInput>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10 (0-9)">10 (0-9)</option>
            <option value="10 (00-90)">10 (00-90)</option>
            <option value="12">12</option>
            <option value="20">20</option>
          </select>
        </label>
      </div>
      <div>
        <label>
          How many dice?
          <input value="0" (keyup)="onKeyUp(diceNumberInput.value)" #diceNumberInput [value]="data.numberOfDice"/>   
        </label>
      </div>
        <button (click)="onClickCalculateValue()">Roll Your Dice!</button>
      <div class="text">
        Dice size: D{{ data.diceSize }}
      </div>
      <div class="text"> 
        Number of dice: {{ data.numberOfDice }}
      </div>
      <div class="text">
        Total: {{ data.result }}
      </div>
    
      <template #dieContainer></template>
    </div>
    <footer id="footer">
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>  
    </footer>
  </div>
</body>
